/**
 * The following styles get applied inside the editor only.
 */

.wp-block-valve-custom-universities-query {
	& .wp-block-post-featured-image img {
		width: 160px;
		height: auto;
	}

	& .wp-block-post-title {
		margin-top: 0;
		margin-bottom: 0;
	}
}
