/*********************** SLIDER ************************/

.slider-container {
  position: relative;
  z-index: 0;
}

.slick-arrows__wrap {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-top: rem(60px);
  z-index: 2;

  @include container;
}

.slick-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $transparent;
  border-color: $purple;
  border-radius: 50%;
  padding: rem(8px);
  cursor: pointer;

  @include media-tablet {
    padding: rem-tablet(13px);
  }

  @include media-desktop {
    padding: rem-desktop(13px);
  }

  & svg {
    width: 20px;
    height: 20px;

    @include media-tablet {
      width: 25px;
      height: 25px;
    }

    @include media-desktop {
      width: 30px;
      height: 30px;
    }

    @include transition;
  }

  & + & {
    margin-left: rem(20px);

    @include media-tablet {
      margin-left: rem-tablet(20px);
    }

    @include media-desktop {
      margin-left: rem-desktop(20px);
    }
  }
}

.prev-arrow {
  &:hover,
  &:active {
    & svg {
      transform: translate(-5px);
    }
  }
}

.next-arrow {
  &:hover,
  &:active {
    & svg {
      transform: translate(5px);
    }
  }
}

.slick-dots {
  position: relative;
  bottom: -94px;
  text-align: left;

  @include container;

  @include media-tablet {
    bottom: -110px;
    text-align: center;
  }

  & li {
    margin: 0;

    & button {
      &::before {
        font-size: 11px;
        color: $gray;
      }

      &:hover {
        &::before {
          color: $purple;
          opacity: 0.75;
        }
      }
    }

    // Active element.
    &.slick-active {
      & button {
        &::before {
          color: $purple;
          opacity: 1;
        }
      }
    }
  }
}

.slick-list,
.slick-track {
  display: flex;
}

.slick-slide {
  height: 100%;
  flex-grow: 0;

  @include media-tablet {
    flex-grow: 1;
  }
}

/*********************** SLIDER ENDS ************************/
